.Side
  .Side__header
    .Side__header_form
      .Side__name
        = current_user.name
      .Side__icon
        = link_to  "#", class: "Side__btn" do
          %i.fas.fa-edit
        = link_to  edit_user_path(current_user), class: "Side__btn" do
          %i.fa.fa-cog
  .Side__groups
    .Side__group
      .Side__group_name
        techcamp
      .Side__message
        まだメッセージがありません
    .Side__group
      .Side__group_name
        techcamp
      .Side__message
        まだメッセージがありません
    .Side__group
      .Side__group_name
        techcamp
      .Side__message
        まだメッセージがありません